.DS_Store
**/*/__pycache__
__pycache__
.zed
MKDS Info.lua
pyrightconfig.json
rom
*.nds
**/*/venv
**/*/_build
**/*/_build/*
**/*/_build/*
.envrc
.envrc
nitro-sdk
mkds_c/external_include
.clangd
private
.vscode
