# typechecking
ty.toml
ruff.toml
pyrightconfig.json
.clangd

# caching
.mypy_cache
.ruff_cache
**/__pycache__
**/_build/*

# editting
.vscode
.zed

# python
.venv
venv

# direnv
.envrc

# training artifacts
checkpoints/**

# special artifacts
mkds_c/external_include
**/*/libdesmume.dylib
**/*.nds

# misc
.DS_Store
